@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/**********
* MEDIA QUERIES for blog sierra
**********/
@media only screen and (max-width: 1024px) {
  .issue__container {
    padding: 0 3%; } }

@media only screen and (max-width: 768px) {
  /* HEADER */
  .issue {
    padding: 4rem 0;
    cursor: pointer; } }

@media only screen and (max-width: 500px) {
  /* HEADER */
  .issue__circle {
    display: none; }
  .issue__title {
    font-size: 1.5rem; }
  .item-box p {
    font-size: 1.5rem;
    line-height: 1.4; }
  .item-box:not(:last-child) {
    margin-bottom: 2rem; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #38464D;
  padding: 3rem;
  text-rendering: optimizeLegibility; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* 
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.btn {
  /*
    ANIMATED BUTTON
    */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      /* transform: scale(1.5); */
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

.header {
  position: relative;
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url(../img/hero1.jpg);
  background-size: cover;
  background-position: center;
  /* .logo:hover {
        animation: moveInRight 1s ease-out;
    } */ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/*** COLOR PALETTE - for Sierra blog
* Main blue:     #26AFEB
* Dark grey:     #38464D
* Light grey:    #F9FAFA
* Accent orange: #FF951F
***/
/**********
* NEWSLETTER
**********/
.issue {
  padding: 7rem 0;
  cursor: pointer; }

.issue:hover .issue__open {
  border-bottom: 1px solid #38464D;
  transform: translateX(3px); }

.issue:nth-child(odd) {
  background-color: #F9FAFA; }

.issue__title {
  font-size: 1.7rem; }

.issue__open {
  display: inline-block;
  border: none;
  background: none;
  outline: none;
  padding-bottom: 3px;
  transition: all .2s; }

.issue__circle {
  display: inline-block;
  background-color: #FF951F;
  color: #fff;
  height: 5rem;
  width: 5rem;
  padding-top: 1rem;
  font-size: 2.3rem;
  font-weight: 400;
  border-radius: 50%;
  margin-right: 2rem;
  transform: translateY(3px);
  text-align: center; }

.issue__container {
  max-width: 80rem;
  margin: 0 auto; }

.issue__content {
  /*padding-top: 4rem;*/
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 1.0s; }

.item-box:not(:last-child) {
  margin-bottom: 4rem; }

.item-box p {
  font-size: 1.7rem;
  line-height: 1.6; }

.item-link {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #26AFEB;
  text-decoration: none;
  border-bottom: 1px solid #26AFEB;
  transition: color 0.2s, border-bottom 0.2s;
  padding-bottom: 2px; }

/**********
* FOOTER
**********/
footer {
  padding: 5rem 0; }

.footer__text {
  margin-top: 3rem; }

.footer__text > * {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1rem; }

.ion-ios-heart {
  color: #ff3030;
  margin: 0 2px; }
