$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$main-blue: #26AFEB;
$dark-grey: #38464D;
$light-grey: #F9FAFA;
$accent-orange: #FF951F;